name: Mon first
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
jobs:
  Mon-Premier:
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du Repo
        uses: actions/checkout@v3
      - name: Test unitaire
        run: exit 1
      - name: Create issue if fail
        if: failure()
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          title: Test unitaire fail
          label: bug
  Build-App:
    needs: Mon-Premier
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du Repo
        uses: actions/checkout@v3
      - name: Build App
        run: echo "Je build l'application"