name: Mon first
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
jobs:
  Mon-Premier:
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du Repo
        uses: actions/checkout@v3
      - name: Test unitaire
        run: exit 1
      # - name: Create issue if fail
      #   if: failure()
      #   uses: dacbd/create-issue-action@main
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     title: Test unitaire fail
      #     assignees: dl3c01n
      #     body: |
      #       Les tests ont échoué
      #       Workflow name : `${{ github.workflow }}`
      #       Job Name : `${{ github.job }}`
      #       Merci de vérifier le code
  Build-App:
    needs: Mon-Premier
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du Repo
        uses: actions/checkout@v3
      - name: Build App
        run: echo "Je build l'application"
  Create-Alert:
    runs-on: ubuntu-latest
    needs: [Mon-Premier, Build-App]
    if: needs.Mon-Premier.result == 'failure' || needs.Build-App.result == 'failure'
    steps:
      - name: Envoi d'un email
        run: echo "Send mail to toto"